# 12. Machine learning techniques

In [273]:
!git clone https://github.com/s7s/machine_learning_1.git
%cd  machine_learning_1/ML_in_practice

Cloning into 'machine_learning_1'...
remote: Enumerating objects: 178, done.
remote: Counting objects: 100% (178/178), done.
remote: Compressing objects: 100% (131/131), done.
remote: Total 178 (delta 79), reused 143 (delta 44), pack-reused 0
Receiving objects: 100% (178/178), 34.11 MiB | 21.62 MiB/s, done.
Resolving deltas: 100% (79/79), done.
/content/machine_learning_1/ML_in_practice/machine_learning_1/ML_in_practice/machine_learning_1/ML_in_practice/machine_learning_1/ML_in_practice/machine_learning_1/ML_in_practice/machine_learning_1/ML_in_practice

In [274]:
import random as rd
rd.seed(0)

In [275]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 12.1 Loading and exploring the dataset

First, we use pandas to load the dataset from a csv file.

In [276]:
# use pabdas to read './titanic.csv'
raw_data = pd.read_csv('./titanic.csv')
raw_data

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

Next, we can explore the dataset.

In [277]:
# Use pandas to examine the length of the dataset
len(raw_data) #number of datasamples

891

In [278]:
# Use pandas to examine the columns in the dataset
raw_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [279]:
# Use pandas to examine "survived" column (labels)
raw_data['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [280]:
# Use pandas to exanine more than one column at the same time ["Name", "Age"]
raw_data[["Name", "Age"]]

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [281]:
# Use pandas to check how many passengers survived
sum(raw_data['Survived'])

342

## 12.2. Cleaning up the data

Now, let's look at how many columns have missing data

In [282]:
# use pandas to check missing data (NA(not available) values) for all the columns
raw_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

The Cabin column is missing too many values to be useful. Let's drop it altogether.

In [283]:
# Use pandas to drop "Cabin" column
clean_data = raw_data.drop('Cabin', axis=1)
#clean_data = raw_data.drop(columns=['Cabin'])

In [284]:
clean_data

     PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0              1         0       3  ...         A/5 21171   7.2500         S
1              2         1       1  ...          PC 17599  71.2833         C
2              3         1       3  ...  STON/O2. 3101282   7.9250         S
3              4         1       1  ...            113803  53.1000         S
4              5         0       3  ...            373450   8.0500         S
..           ...       ...     ...  ...               ...      ...       ...
886          887         0       2  ...            211536  13.0000         S
887          888         1       1  ...            112053  30.0000         S
888          889         0       3  ...        W./C. 6607  23.4500         S
889          890         1       1  ...            111369  30.0000         C
890          891         0       3  ...            370376   7.7500         Q

[891 rows x 11 columns]

Other columns such as Age or Embarked are missing some values, but they can still be useful.

For the age column, let's fill in the missing values with the median of all ages.

For the Embarked column, let's make a new category called 'U', for Unknown port of embarkment.

In [285]:
# get the median of age column using pandas
median_age = clean_data['Age'].median()
median_age

28.0

In [286]:
# use pandas to fill the na values in age column with the median age
clean_data["Age"] = clean_data.Age.fillna(median_age)

In [287]:
# use pandas to fill the na values in embarked column with 'U'
clean_data["Embarked"] = clean_data["Embarked"].fillna("U") # or mode

In [288]:
clean_data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [289]:
# view 10 rows of the clean dataset
clean_data.head(10)

   PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0            1         0       3  ...         A/5 21171   7.2500         S
1            2         1       1  ...          PC 17599  71.2833         C
2            3         1       3  ...  STON/O2. 3101282   7.9250         S
3            4         1       1  ...            113803  53.1000         S
4            5         0       3  ...            373450   8.0500         S
5            6         0       3  ...            330877   8.4583         Q
6            7         0       1  ...             17463  51.8625         S
7            8         0       3  ...            349909  21.0750         S
8            9         1       3  ...            347742  11.1333         S
9           10         1       2  ...            237736  30.0708         C

[10 rows x 11 columns]

### 12.2.3 Saving our data for the future

In [290]:
# save the clean dataset to './clean_titanic_data.csv'
clean_data.to_csv('./clean_titanic_data.csv', index=None)

## 12.3 Manipulating the features

- One-hot encoding
- Binning
- Feature selection

### 12.3.1 One-hot encoding

In [291]:
preprocessed_data = pd.read_csv('clean_titanic_data.csv')
preprocessed_data

     PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0              1         0       3  ...         A/5 21171   7.2500         S
1              2         1       1  ...          PC 17599  71.2833         C
2              3         1       3  ...  STON/O2. 3101282   7.9250         S
3              4         1       1  ...            113803  53.1000         S
4              5         0       3  ...            373450   8.0500         S
..           ...       ...     ...  ...               ...      ...       ...
886          887         0       2  ...            211536  13.0000         S
887          888         1       1  ...            112053  30.0000         S
888          889         0       3  ...        W./C. 6607  23.4500         S
889          890         1       1  ...            111369  30.0000         C
890          891         0       3  ...            370376   7.7500         Q

[891 rows x 11 columns]

In [292]:
# Use pandas method .get_dummies() to get the one hot encoding of “embarked”, “pclass” and “gender”
onehot_columns = pd.get_dummies(preprocessed_data[['Embarked','Pclass', 'Sex']])

# Use pandas method .drop() to remove the old columns and method .concat() to add the new columns
preprocessed_data = pd.concat([preprocessed_data, onehot_columns], axis=1)

# drop columns
preprocessed_data.drop(['Embarked','Pclass', 'Sex'], axis=1, inplace=True)

In [293]:
preprocessed_data

     PassengerId  Survived  ... Sex_female  Sex_male
0              1         0  ...          0         1
1              2         1  ...          1         0
2              3         1  ...          1         0
3              4         1  ...          1         0
4              5         0  ...          0         1
..           ...       ...  ...        ...       ...
886          887         0  ...          0         1
887          888         1  ...          1         0
888          889         0  ...          1         0
889          890         1  ...          0         1
890          891         0  ...          0         1

[891 rows x 14 columns]

### 12.3.2 Binning

In [294]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80]
# Use .cut() method to make bins from the age column

categorized_age = pd.cut(preprocessed_data['Age'], bins)
preprocessed_data['Categorized_age'] = categorized_age
preprocessed_data = preprocessed_data.drop(["Age"], axis=1)
preprocessed_data

     PassengerId  Survived  ... Sex_male  Categorized_age
0              1         0  ...        1         (20, 30]
1              2         1  ...        0         (30, 40]
2              3         1  ...        0         (20, 30]
3              4         1  ...        0         (30, 40]
4              5         0  ...        1         (30, 40]
..           ...       ...  ...      ...              ...
886          887         0  ...        1         (20, 30]
887          888         1  ...        0         (10, 20]
888          889         0  ...        0         (20, 30]
889          890         1  ...        1         (20, 30]
890          891         0  ...        1         (30, 40]

[891 rows x 14 columns]

In [295]:
# Use pandas method .get_dummies() to get the one hot encoding of “Categorized_age”
# Use pandas method .drop() to remove the old column and method .concat() to add the new columns

onehot_ages = pd.get_dummies(preprocessed_data[['Categorized_age']])

# Use pandas method .drop() to remove the old columns and method .concat() to add the new columns
preprocessed_data = pd.concat([preprocessed_data, onehot_ages], axis=1)

# drop columns
preprocessed_data.drop(['Categorized_age'], axis=1, inplace=True)


preprocessed_data

     PassengerId  Survived  ... Categorized_age_(60, 70]  Categorized_age_(70, 80]
0              1         0  ...                        0                         0
1              2         1  ...                        0                         0
2              3         1  ...                        0                         0
3              4         1  ...                        0                         0
4              5         0  ...                        0                         0
..           ...       ...  ...                      ...                       ...
886          887         0  ...                        0                         0
887          888         1  ...                        0                         0
888          889         0  ...                        0                         0
889          890         1  ...                        0                         0
890          891         0  ...                        0                         0

[891 rows x 21 columns]

### 12.3.4 Feature selection

In [296]:
# drop these columns['Name', 'Ticket', 'PassengerId']
preprocessed_data.drop(['Name', 'Ticket', 'PassengerId'], axis=1, inplace=True)

preprocessed_data.head()

   Survived  SibSp  ...  Categorized_age_(60, 70]  Categorized_age_(70, 80]
0         0      1  ...                         0                         0
1         1      1  ...                         0                         0
2         1      0  ...                         0                         0
3         1      1  ...                         0                         0
4         0      0  ...                         0                         0

[5 rows x 18 columns]

### 12.3.5 Saving for future use

In [297]:
preprocessed_data.to_csv('./preprocessed_titanic_data.csv', index=None)

# 12.4 Training models

In [298]:
data = pd.read_csv('./preprocessed_titanic_data.csv')
data.head()

   Survived  SibSp  ...  Categorized_age_(60, 70]  Categorized_age_(70, 80]
0         0      1  ...                         0                         0
1         1      1  ...                         0                         0
2         1      0  ...                         0                         0
3         1      1  ...                         0                         0
4         0      0  ...                         0                         0

[5 rows x 18 columns]

### 12.4.1 Features-labels split and train-validation split

In [299]:
# drop ["Survived"] column and save that to features
features = data.drop("Survived", axis=1)

# save the ["Survived"] column to labels
labels = data["Survived"]

In [300]:
from sklearn.model_selection import train_test_split

In [301]:
# split data by 60% train ; use random_state=100
features_train, features_validation_test, labels_train, labels_validation_test = train_test_split(features, labels, test_size=0.4, random_state=100)

In [302]:
# split test data by 50% validation and 50% test ; use random_state=100
features_validation, features_test, labels_validation, labels_test = train_test_split(features_validation_test, labels_validation_test, test_size=0.5, random_state=42)

In [303]:
print(len(features_train))
print(len(features_validation))
print(len(features_test))
print(len(labels_train))
print(len(labels_validation))
print(len(labels_test))

534
178
179
534
178
179

### 12.4.2 Training different models on our dataset

We'll train six models:
- Logistic regression (perceptron)
- Decision tree
- Support vector machine (SVM)
- RandomForestClassifier
- GradientBoostingClassifier
- AdaBoostClassifier

In [304]:
# Train logistic regression model
from sklearn.linear_model import LogisticRegression

lr_model = LogisticRegression().fit(features_train, labels_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [305]:
# Train decision tree model ; don't use any hyperparameter
from sklearn.tree import DecisionTreeClassifier

dt_model = DecisionTreeClassifier().fit(features_train, labels_train)

In [306]:
# Train SVM model ; don't use any hyperparameter
from sklearn.svm import SVC

svm_model = SVC(gamma='auto').fit(features_train, labels_train)

In [307]:
# Train random forest model ; don't use any hyperparameter
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier().fit(features_train, labels_train)

In [308]:
# Train gradient boosting model ; don't use any hyperparameter
from sklearn.ensemble import GradientBoostingClassifier

gb_model = GradientBoostingClassifier().fit(features_train, labels_train)

In [309]:
# Train Adaboost model ; don't use any hyperparameter
from sklearn.ensemble import AdaBoostClassifier

ab_model = AdaBoostClassifier().fit(features_train, labels_train)

### 12.4.3 Evaluating the models

#### Accuracy

In [310]:
# print accuracy of each model on validation data
print("Scores of the models")
print("Logistic regression:", lr_model.score(features_validation, labels_validation))
print("Decision tree:", dt_model.score(features_validation, labels_validation))
print("SVM:", svm_model.score(features_validation, labels_validation))
print("Random forest:", rf_model.score(features_validation, labels_validation))
print("Gradient boosting:", gb_model.score(features_validation, labels_validation))
print("AdaBoost:", ab_model.score(features_validation, labels_validation))

Scores of the models
Logistic regression: 0.7696629213483146
Decision tree: 0.7865168539325843
SVM: 0.7640449438202247
Random forest: 0.7921348314606742
Gradient boosting: 0.8033707865168539
AdaBoost: 0.7696629213483146

#### F1-score

In [311]:
# print F1-score of each model on validation data
from sklearn.metrics import f1_score

print("F1-scores of the models:" )

print("Logistic regression:", f1_score(labels_validation, lr_model.predict(features_validation)))

print("Decision tree:", f1_score(labels_validation, dt_model.predict(features_validation)))

print("SVM:", f1_score(labels_validation, svm_model.predict(features_validation)))

print("Random forest:", f1_score(labels_validation, rf_model.predict(features_validation)))

print("Gradient boosting:", f1_score(labels_validation, gb_model.predict(features_validation)))

print("AdaBoost:", f1_score(labels_validation, ab_model.predict(features_validation)))

F1-scores of the models:
Logistic regression: 0.7172413793103448
Decision tree: 0.7432432432432433
SVM: 0.7123287671232877
Random forest: 0.7672955974842767
Gradient boosting: 0.7586206896551724
AdaBoost: 0.7248322147651007

### 12.4.4 Testing the model

Finding the accuracy and the F1-score of the model in the testing set.

In [312]:
# print accuracy of gradient boost model on testing data
gb_model.score(features_test, labels_test)

0.8044692737430168

In [313]:
# print F1-score of gradient boost model on testing data
f1_score(labels_test, gb_model.predict(features_test))

0.7586206896551725

# 12.5 Grid search

In [314]:
from sklearn.model_selection import GridSearchCV

In [315]:
svm_parameters = {'kernel': ['rbf'],
                  'C': [0.01, 0.1, 1 , 10, 100],
                  'gamma': [0.01, 0.1, 1, 10, 100]
                }
# use gridsearch to find the best hyperparameters 
svm = SVC()
svm_gs = GridSearchCV(estimator = svm, param_grid = svm_parameters)
svm_gs.fit(features_train, labels_train)

svm_winner = svm_gs.best_estimator_
svm_winner

svm_winner.score(features_validation, labels_validation)

0.7584269662921348

In [316]:
svm_winner

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

# 12.6 Cross validation

In [317]:
# print the k-fold cross validation output
svm_gs.cv_results_

{'mean_fit_time': array([0.01250339, 0.01063037, 0.00979319, 0.01000614, 0.00950394,
        0.00999632, 0.01035972, 0.01029239, 0.01230183, 0.0104732 ,
        0.01185627, 0.01061282, 0.01110024, 0.01336207, 0.01008401,
        0.01324983, 0.01257358, 0.0135119 , 0.01219282, 0.01082559,
        0.0169075 , 0.01856227, 0.01258826, 0.01310043, 0.01157942]),
 'mean_score_time': array([0.00355282, 0.00287466, 0.00284009, 0.00280199, 0.00280857,
        0.00261884, 0.00279479, 0.00307255, 0.00375762, 0.00283599,
        0.00297837, 0.00277071, 0.00319004, 0.00304413, 0.00275011,
        0.00280027, 0.00258541, 0.00293088, 0.0027802 , 0.00267639,
        0.00259171, 0.0034143 , 0.00287223, 0.00297265, 0.00278745]),
 'mean_test_score': array([0.64607653, 0.64607653, 0.64607653, 0.64607653, 0.64607653,
        0.65917828, 0.64607653, 0.64607653, 0.64607653, 0.64607653,
        0.70038794, 0.75288309, 0.72853112, 0.69100688, 0.69476283,
        0.79596191, 0.76778346, 0.73226944, 0.69102451, 0.69287604,
        0.7903368 , 0.74343149, 0.73041792, 0.69289367, 0.69287604]),
 'param_C': masked_array(data=[0.01, 0.01, 0.01, 0.01, 0.01, 0.1, 0.1, 0.1, 0.1, 0.1,
                    1, 1, 1, 1, 1, 10, 10, 10, 10, 10, 100, 100, 100, 100,
                    100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_gamma': masked_array(data=[0.01, 0.1, 1, 10, 100, 0.01, 0.1, 1, 10, 100, 0.01,
                    0.1, 1, 10, 100, 0.01, 0.1, 1, 10, 100, 0.01, 0.1, 1,
                    10, 100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf',
                    'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf',
                    'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'rbf',
                    'rbf'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.01, 'gamma': 0.01, 'kernel': 'rbf'},
  {'C': 0.01, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 0.01, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 0.01, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 0.01, 'gamma': 100, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 0.01, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 100, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 0.01, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 100, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 0.01, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 100, 'kernel': 'rbf'},
  {'C': 100, 'gamma': 0.01, 'kernel': 'rbf'},
  {'C': 100, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 100, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 100, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 100, 'gamma': 100, 'kernel': 'rbf'}],
 'rank_test_score': array([17, 17, 17, 17, 17, 16, 17, 17, 17, 17,  9,  4,  8, 15, 10,  1,  3,
         6, 14, 12,  2,  5,  7, 11, 12], dtype=int32),
 'split0_test_score': array([0.64485981, 0.64485981, 0.64485981, 0.64485981, 0.64485981,
        0.65420561, 0.64485981, 0.64485981, 0.64485981, 0.64485981,
        0.71962617, 0.72897196, 0.71028037, 0.70093458, 0.70093458,
        0.82242991, 0.74766355, 0.70093458, 0.70093458, 0.70093458,
        0.80373832, 0.72897196, 0.71028037, 0.70093458, 0.70093458]),
 'split1_test_score': array([0.64485981, 0.64485981, 0.64485981, 0.64485981, 0.64485981,
        0.65420561, 0.64485981, 0.64485981, 0.64485981, 0.64485981,
        0.65420561, 0.71028037, 0.6728972 , 0.6635514 , 0.6635514 ,
        0.72897196, 0.73831776, 0.6635514 , 0.65420561, 0.6635514 ,
        0.72897196, 0.73831776, 0.63551402, 0.65420561, 0.6635514 ]),
 'split2_test_score': array([0.64485981, 0.64485981, 0.64485981, 0.64485981, 0.64485981,
        0.68224299, 0.64485981, 0.64485981, 0.64485981, 0.64485981,
        0.71962617, 0.79439252, 0.74766355, 0.70093458, 0.71028037,
        0.80373832, 0.82242991, 0.76635514, 0.70093458, 0.71028037,
        0.82242991, 0.77570093, 0.75700935, 0.71028037, 0.71028037]),
 'split3_test_score': array([0.64485981, 0.64485981, 0.64485981, 0.64485981, 0.64485981,
        0.64485981, 0.64485981, 0.64485981, 0.64485981, 0.64485981,
        0.70093458, 0.73831776, 0.74766355, 0.70093458, 0.70093458,
        0.78504673, 0.76635514, 0.76635514, 0.70093458, 0.70093458,
        0.76635514, 0.73831776, 0.77570093, 0.70093458, 0.70093458]),
 'split4_test_score': array([0.6509434 , 0.6509434 , 0.6509434 , 0.6509434 , 0.6509434 ,
        0.66037736, 0.6509434 , 0.6509434 , 0.6509434 , 0.6509434 ,
        0.70754717, 0.79245283, 0.76415094, 0.68867925, 0.69811321,
        0.83962264, 0.76415094, 0.76415094, 0.69811321, 0.68867925,
        0.83018868, 0.73584906, 0.77358491, 0.69811321, 0.68867925]),
 'std_fit_time': array([3.70954654e-03, 1.82586520e-03, 8.85350115e-05, 5.36797512e-05,
        8.27718445e-04, 6.73901265e-04, 8.59331082e-04, 1.42205409e-04,
        3.50815625e-03, 1.65182458e-03, 2.38896878e-03, 3.11739220e-04,
        5.24885450e-04, 4.99384152e-03, 3.86105933e-04, 1.41051651e-03,
        1.15189958e-03, 9.80705455e-04, 4.82096365e-04, 7.75171218e-05,
        1.80465778e-03, 5.24529193e-03, 5.75303745e-04, 1.05418426e-03,
        1.66234529e-04]),
 'std_score_time': array([9.57675629e-04, 3.39698651e-04, 7.78036066e-05, 2.80656646e-05,
        3.78866522e-04, 6.89121920e-05, 5.32045149e-05, 1.23808305e-04,
        1.15056596e-03, 1.49507118e-04, 7.26288838e-04, 7.33147637e-05,
        5.58263994e-04, 6.82132180e-05, 1.70717918e-04, 4.51632266e-04,
        1.00965244e-04, 7.19061897e-05, 9.62828570e-05, 8.19913971e-05,
        2.30397807e-04, 1.35531026e-03, 1.15965287e-04, 6.90830577e-05,
        6.87382885e-05]),
 'std_test_score': array([0.00243343, 0.00243343, 0.00243343, 0.00243343, 0.00243343,
        0.01255302, 0.00243343, 0.00243343, 0.00243343, 0.00243343,
        0.02418504, 0.03431524, 0.03295177, 0.01452514, 0.0161391 ,
        0.03814205, 0.0292387 , 0.04253032, 0.01844185, 0.0161885 ,
        0.03778493, 0.01649357, 0.05297795, 0.01977685, 0.0161885 ])}